<div class="id-card">
    <h2>E.A.R.L. DUBOIS Christophe</h2>
    <h3>Cognac & Pineau des Charentes</h3>
    <h3>Propriétaire - Récoltant</h3>
    <p></p>

    <ul>
        <li>
            <a href="https://goo.gl/maps/RD6HxacuqyNQ7N417">
                <i class="fas fa-home"></i> 15 rue des Petits Prés, Le Brandard, 17800 Coulonges</a>
        </li>
        <li>
            <a href="tel:0546495406 "> <i class="fas fa-phone"></i> 05.46.49.54.06</a>
        </li>
        <li>
            <a href="tel:0687203301 "> <i class="fas fa-mobile-alt"></i> 06.87.20.33.01</a>
        </li>
        <li> <a href="mailto:earlduboischristophe@orange.fr"><i class="fas fa-envelope"></i> earlduboischristophe@orange.fr</a> </li>
    </ul>
</div>
<iframe class="map computer" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3416.78535794167!2d-0.41452844542359546!3d45.59786727910352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48005882d98356c9%3A0x9cfcbfadb721ee2a!2s15+Rue+des+Petits+Pr%C3%A9s%2C+17800+Coulonges!5e1!3m2!1sen!2sfr!4v1488720080068 "
    width="600 " height="450 " frameborder="0 " style="border:0 " allowfullscreen></iframe>