:host {
    position: relative;
}

:host>div.hidden {
    display: none;
}

:host>div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
}

:host>div section {
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    background: var(--light-background);
    color: var(--dark-background);
    font-size: 1.25em;
    max-width: 25vw;
    text-align: center;
}
