:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: none;
    color: var(--nav-foreground);
    font-style: italic;
    margin: .2em 0;
}

ul.routing {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    background-color: var( --nav-background);
    border: 0 var(--nav-foreground) double;
    border-width: .2em 0;
    margin: 0;
    padding: .2em 6em;
    width: 100%;
}

ul.routing a {
    text-decoration: none;
    margin: 0 1em;
    color: var(--nav-foreground);
}

ul.routing a.active-link,
ul.routing a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    ul.routing {
        padding: .2em;
    }
}