<img src="assets/img/products/{{product.id}}.png">
<div>
    <h3>{{product.name}}</h3>
    <p>{{product.description}}</p>
</div>
<dl>
    <dt>Prix unitaire TTC:</dt>
    <dd>{{ product.price | currency:'EUR':'symbol':undefined:'fr'}}</dd>
    <dt>Volume:</dt>
    <dd>{{ product.volume_cl }}cl</dd>
    <ng-container *ngIf="product.aging">
        <dt>Viellissement:</dt>
        <dd><span *ngIf="product.minimumAging">Plus de </span>{{product.aging}} ans</dd>
    </ng-container>
    <ng-container *ngIf="product.medals">
        <dt>Médailles:</dt>
        <dd>
            <app-medal *ngFor="let medal of product.medals" [medal]="medal"></app-medal>
        </dd>
    </ng-container>
</dl>

<dl class="cart">
    <dt>Quantité: </dt>
    <dd><input type="number" [(ngModel)]="quantity" min="0" step="1"> </dd>
    <dd><button (click)="addToCart()" [disabled]="!quantity">Ajouter au Panier</button></dd>
</dl>
