:host {
    display: inline-flex;
    border-radius: .2em;
    color: white;
    background-color: var(--nav-background);
    padding: .2em;
    margin: .2em;
    position: relative;
    font-weight: normal;
}

:host>img {
    height: 1em;
    margin-right: .2em;
    flex: 0 0 auto;
}

:host>label {
    flex: 1 1 auto;
}

:host:not(:hover) .tooltip {
    display: none;
}

.tooltip {
    display: flex;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 9999;
    background: var(--nav-background);
    border-radius: .5em;
    padding: 1em;
    height: 7em;
    align-items: center;
}

.tooltip img {
    height: 5em;
}

.tooltip p {
    margin: 0 .5em 0;
    width: 7.5em;
    text-align: center;
}
