:host {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: center;
}

.bubble {
    color: var(--dark-background);
    background-color: var(--light-background);
    border-radius: .5em;
    padding: 1em;
}

ul.toc {
    flex: 0 0 10em;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

ul.toc li {
    cursor: pointer;
    padding: .5em;
}

ul.toc li:hover,
ul.toc li.selected {
    text-decoration: underline;
}

.details {
    display: grid;
    flex: 1 1 auto;
    padding: 1em;
    align-items: stretch;
    justify-items: center;
    grid-template-rows: auto auto auto;
    gap: 1em;
    grid-template-columns: auto auto;
}

.details h2 {
    grid-column: 1/ -1;
    margin: 0;
    text-align: center;
    background: var(--title-background);
    width: 100%;
    font-size: 1.75em;
    font-style: italic;
    text-decoration: underline;
}

.details section {
    grid-row: 2/ -1;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
    display: flex;
}

.details section p {
    margin: auto;
}

.details img {
    border-radius: .2em;
}

@media (max-width: 600px) {
     :host {
        flex-direction: column;
        flex-wrap: wrap;
    }
    ul.toc {
        flex-direction: row;
        justify-content: center;
        flex: 0 0 auto;
    }
    .details {
        display: flex;
        flex-direction: column;
    }
    img {
        max-width: 100%;
    }
}